@charset "UTF-8";

/* APARELHO EM PÉ (PORTRAIT) */

body {
   background: url(../imagens/cev-portrait.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center bottom;
}
